body.dark-mode {
    background-color: #6C733D;
    color: black;
}

svg {
    margin-left: 40px;
}

.navbar {
    background-color: #00BF63;
}

body {
    background-color: #B9F4A0;
    color: #000;
}

 .container {
    border-radius: 100%;
}


.navbar-dark .navbar-toggler-icon {
    background-color: #00BF63;
}

#modeToggleContainer {
    margin-right: 10px;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
}

#modeToggleContainer.light-mode::before {
    content: "\2600"; /* Karakter matahari */
    color: #000; /* Warna ikon matahari pada mode terang */
    background-color: #8c8c88;
    padding-bottom: 10px;
}

#modeToggleContainer.dark-mode::before {
    content: "\1F319"; /* Karakter bulan */
    color: #fff; /* Warna ikon bulan pada mode gelap */
    background-color: #8c8c88;
    padding-bottom: 10px;
}

.light-mode {
    background-color: #ffd700;
    color: #000;
}

.dark-mode {
    background-color: #514f4f;
    color: #fff;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img {
    cursor: pointer;
}

.credit {
    color: blue;
}
